<div class="row">
  <div class="col-xs12">
    <h2>Followers</h2>
<!--users一覧 -->
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @followings.each do |user| %>
          <tr>
            <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
            <td><%= user.name%></td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>

            <% unless current_user == user %>
              <td>
                <% if current_user.following?(user) %>
                  <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'フォローを外す', class: 'btn btn-info btn-block' %>
                  <% end %>
                <% else %>
                  <%= form_for(current_user.relationships.build) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                      <%= f.submit 'フォローする', class: 'btn btn-success btn-block' %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>