<% if user_signed_in? %>
  <header class="searchbar">
      <div>
        <%= form_tag(searchs_result_path , method: :get) do %>
          <%= text_field(@search_content, :search_word)%>
          <%= select(@search_content, :search_model, [["User","user"], ["Book","book"]])%>
          <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
          <%= submit_tag "検索" %>
        <% end %>
      </div>
  </header>
<% end %>